.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    /* width: 100%; */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 16px;
    /* margin: 16px; */
  }

.card-content {
    padding: 16px 0;
}