@import "tailwindcss";

* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box;  */
    font-family: 'McLaren', sans-serif; 
}

/* body, html {
    width: 100%;
    height: 100%;
    
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

main {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

footer {
    padding: 1rem;
    background-color: green;
    text-align: center;
}
